@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("Helvetica-Neue-Bold-700.woff2") format('woff2');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Helvetica-Neue-Regular-400.woff2") format('woff2');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("Helvetica-Neue-Thin-300.woff2") format('woff2');
}
